@tailwind base;
@tailwind components;
@tailwind utilities;

/* Split Pane Styles */
.gutter {
  background-color: #374151;
  background-repeat: no-repeat;
  background-position: 50%;
}
.gutter.gutter-horizontal {
  cursor: col-resize;
}